---
//Definimos las propiedades
//que puede recibir el componente
    interface Props {
    etiqueta:string;
    tipo: string;
}
//crear una variable
//para recibir la etiqueta
//Astro.props=Los valores desde
//                  el control
    const {etiqueta} = Astro.props ; 
---
<!-- Etiqueta input:
 se utiliza para los siguientes 
 controles:
 -campo de texto
 -password
 -checrbox
 -radio button
 -boton de envio
 ES ETIQUETA CERRADA
 -->
 <label>{etiqueta}:</label>
 <input type="text" />
<style>
    /*solo se puede poner aqui */
    /*sintaxis css*/
    /*estilos para el input text*/
    /*selector de eriqueta*/
    /*estilos aplicables a toda etiqueta*/
    /*señalada por el selector*/
    input[type="text"]{
        background-color: rgb(248, 247, 153);
        width: 400px;
        height: 20px;
        color:rgb(202, 6, 6);
        /*bordes:
        -color
        -peso (grosor)
        -estilo (tipo de linea)
        */
        border-color: coral;
        border-width: 3px;
        border-style: solid;
        border-radius: 6px;


    }
</style>
