---
    interface Props {
    etiqueta:string;
    tipo: string;
}
//crear una variable
//para recibir la etiqueta
//Astro.props=Los valores desde
//                  el control
    const {etiqueta} = Astro.props ; 
---
<label>{etiqueta}</label>

<div>
    <div id="cedula">
        <input 
            type="radio"
            name="rgb"
            id="radio1" 
        /> 
        <strong>C.C.</strong> 
    </div>

    <div id="tarjeta_identidad">
        <input 
            type="radio"
            name="rgb"
            id="radio2" 
        /> 
        <strong>T.I.</strong>
    </div>

    <div id="cedula_extranjeria">
        <input 
            type="radio"
            name="rgb"
            id="radio3" 
        /> 
        <strong>C.E.</strong>
    </div>   

</div>
<style>
    #cedula{
        background-color:rgb(223, 135, 152);
        /*display:
        determina como una etiqueta
        se comportara en cuanto a:
        largo, ancho, unibacion;*/
        display: inline;
    }
        
    #tarjeta_identidad{
        background-color:rgb(223, 135, 152);
        display: inline; 
    }   
    
    #cedula_extranjeria{
        background-color:rgb(223, 135, 152);
        display: inline; 
    }   
</style>
